/* Resetando alguns estilos padrões */
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('../img/fundo.jpg');
  background-attachment: fixed; 
  background-size: cover;
}

/* Cabeçalho fixo */
header {
  background-color: #00274D; 
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: white;
  position: relative;
  right: 12%;
}

.add-task-btn {
  position: absolute;
  background-color: #fff;
  color: #00274D; 
  border: 2px solid #00274D;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 95%;
  border-radius: 4px;
  right: 5%;
}

.add-task-btn:hover {
  background-color: #ebaf36;
  color: white;
  border-color: white;
}

/* Barra lateral */
aside {
  width: 250px;
  background-color: #00274d6a;
  position: fixed;
  top: 75px;
  right: 0;
  bottom: 0;
  padding: 0px;
}

aside nav ul {
  list-style-type: none;
}

aside nav ul li {
  margin: 10px 0px;
  display: block;
  padding: 0px 0px 0px 12px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

aside nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 20px;
}

aside nav ul li a:hover {
  color: #ebaf36; 
}

#pag {
  background-color: #ebaf36;
}

#pag a:hover{
  color: white; 
}

/* Área principal */
main {
  padding: 80px 31% 0px 12%;
}

/* Estilo para as tarefas */
.task {
  padding: 15px;
  margin: 13px 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  background-color: white; 
  transition: box-shadow 0.3s ease;
}


.high-priority {
  background-color: #FFD2D2; 
  border-left: 5px solid #FF0000; 
}

.high-priority:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px #FF0000; 
}

.medium-priority {
  background-color: #FFEFD1; 
  border-left: 5px solid #FFA500; 
}

.medium-priority:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px #FFA500; 
}

.low-priority {
  background-color: #e6ffe6; 
  border-left: 5px solid green; 
}

.low-priority:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px green; 
}

.task h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.task p {
  font-size: 14px;
  color: #555;
}
